<div class="ol-control credits" data-intro="Show Credits" data-position="left" ng-controller="CreditsController as credits">
	<div>
		<div style="font-size:10px; padding-bottom:0px;">
			<label ng-repeat="baselayer in credits.baselayers|filter:{active:true}">
				<a href="{{baselayer.layerOptions.url}}" style="color:white">
					{{baselayer.layerOptions.attribution}}
				</a>
			</label>
			<label ng-repeat="overlay in credits.overlays|filter:{visible:true}">
				<a href="{{overlay.layerOptions.url}}" style="color:white">
					{{overlay.layerOptions.attribution}}
				</a>
			</label>
			<label>
				<a style="color:white" >
					-
				</a>
			</label>
			<label >
				<a href="https://www.rheticus.eu/pdf/displacement/terms_and_conditions.pdf" style="color:white" target="_blank">
					Rheticus®
				</a>
			</label>
		</div>
	</div>
</div>
