<div layout="row" style="position: fixed; width: 100%; height: 100%;">
	<!-- OPENLAYERS MAP -->
	<md-content flex="">
		<div style="height: 6%" ng-include src="'scripts/components/toolbar/toolbar-view.html'"></div>
		<div style="display: flex; height: 94%; overflow: hidden;">
			<openlayers id="map-default"
						ng-show="main.mapMode.default"
						style="position:relative;"
						ol-center="center"
						width="100%" height="100%"
						ol-view="main.view"
						custom-layers="true"
						ol-defaults="main.olDefaults">
				<ol-control name="{{control.name}}" ng-repeat="control in main.controls|filter:{active: true}"></ol-control>
				<!--layer-switcher></layer-switcher-->
				<ol-layer name="{{baselayer.name}}" ol-layer-properties="baselayer" ng-repeat="baselayer in main.baselayers|filter:{active:true}"></ol-layer>
				<ol-layer name="{{overlay.name}}" ol-layer-properties="overlay" ng-repeat="overlay in main.overlays|filter:main.filterMap1"></ol-layer>
				<ol-marker ol-marker-properties="main.marker"></ol-marker>
				<!--div class="footer" data-intro="Footer Description" data-position="right"-->
			</openlayers>

			<div ng-show="main.mapMode.multiple" style="display: flex; width: 100%;">

				<openlayers id="map-multiple-left" ol-center="center" ol-view="main.view"  custom-layers="true"
							ol-defaults="main.olDefaults" width="50%" height="100%" style="position: relative">
					<ol-control name="{{control.name}}" ng-repeat="control in main.controls|filter:{active: true}"></ol-control>
					<!--layer-switcher></layer-switcher-->
					<ol-layer name="{{baselayer.name}}" ol-layer-properties="baselayer"
							  ng-repeat="baselayer in main.baselayers|filter:{active:true}"></ol-layer>
					<ol-layer name="{{overlay.name}}" ol-layer-properties="overlay"
							  ng-repeat="overlay in main.overlays|filter:main.filterMap1"></ol-layer>
					<ol-marker ol-marker-properties="main.marker"></ol-marker>
					<!--div class="footer" data-intro="Footer Description" data-position="right"-->

				</openlayers>

				<div style="background-color: rgba(0, 58, 87, 1); height: 100%; width: 10px; left:50%;
				width: 4px; height: 100%; z-index: 1; border-left: 1px solid #848484; border-right: 1px solid #848484">
				</div>

				<openlayers id="map-multiple-right" ol-center="center"  ol-view="main.view"  custom-layers="true"
							ol-defaults="main.olDefaults" width="50%" height="100%" style="position: relative; ">
					<ol-control name="{{control.name}}" ng-repeat="control in main.controls|filter:{active: true}"></ol-control>
					<!--layer-switcher></layer-switcher-->
					<ol-layer name="{{baselayer.name}}" ol-layer-properties="baselayer"
							  ng-repeat="baselayer in main.baselayers|filter:{active:true}"></ol-layer>
					<ol-layer name="{{overlay.name}}" ol-layer-properties="overlay"
							  ng-repeat="overlay in main.overlays|filter:main.filterMap2"></ol-layer>
					<ol-marker ol-marker-properties="main.marker"></ol-marker>
					<!--div class="footer" data-intro="Footer Description" data-position="right"-->

				</openlayers>
			</div>

			<div class="swiper" ng-show="main.mapMode.swiper" style="width: 100%; height: 94%;">
				<openlayers id="map-swiper-right"  ol-center="center" width="100%" height="100%" ol-view="main.view"
							custom-layers="true" ol-defaults="main.olDefaults" style="position: absolute">
					<ol-control name="{{control.name}}" ng-repeat="control in main.controls|filter:{active: true}"></ol-control>
					<!--layer-switcher></layer-switcher-->
					<ol-layer name="{{baselayer.name}}" ol-layer-properties="baselayer"
							  ng-repeat="baselayer in main.baselayers|filter:{active:true}"></ol-layer>
					<ol-layer name="{{overlay.name}}" ol-layer-properties="overlay"
							  ng-repeat="overlay in main.overlays|filter:main.filterMap2"></ol-layer>
					<ol-marker ol-marker-properties="main.marker"></ol-marker>
					<!--div class="footer" data-intro="Footer Description" data-position="right"-->
				</openlayers>

				<openlayers id="map-swiper-left" style="position: absolute;  clip: rect(0px,{{main.swiperSize.width.px}},
    										{{main.getWindowSize().height+'px'}},0px); width:100%; height: 100%"
							ol-center="center" ol-view="main.view"  custom-layers="true" ol-defaults="main.olDefaults">
					<ol-control name="{{control.name}}" ng-repeat="control in main.controls|filter:{active: true}"></ol-control>
					<!--layer-switcher></layer-switcher-->
					<ol-layer name="{{baselayer.name}}" ol-layer-properties="baselayer"
							  ng-repeat="baselayer in main.baselayers|filter:{active:true}"></ol-layer>
					<ol-layer name="{{overlay.name}}" ol-layer-properties="overlay"
							  ng-repeat="overlay in main.overlays|filter:main.filterMap1"></ol-layer>
					<ol-marker ol-marker-properties="main.marker"></ol-marker>
					<!--div class="footer" data-intro="Footer Description" data-position="right"-->
				</openlayers>

				<div id="swiper" class="swiper" style="left: {{main.swiperSize.width.px}}">
					<div class="swiper-icon" style="top: {{main.getWindowSize().height/2 - 10+'px'}}">
						<md-icon md-svg-src="images/icons/swiper-icon.svg"></md-icon>
					</div>
				</div>
			</div>

			<div ng-include src="'scripts/components/ps-trends/ps-trends-view.html'"></div>
			<div ng-include src="'scripts/components/switch-panel/switch-panel-view.html'"></div>
			<div ng-include src="'scripts/components/mousePosition/mousePosition-view.html'"></div>
			<div ng-include src="'scripts/components/feature-info/feature-info-view.html'"></div>
			<div ng-include src="'scripts/components/timeline/timeline-view.html'"></div>
			<div ng-include src="'scripts/components/credits/credits-view.html'"></div>
			<div ng-include src="'scripts/components/planet-widget/planet-widget-view.html'"></div>
			<div class="flashMessage" flash-message="5000"></div>
		</div>
	</md-content>
	<!-- SETTINGS SIDENAV -->
	<md-sidenav ng-show="main.selectedSidenav === 'settings'"
				class="md-sidenav-right md-whiteframe-z2"
				md-is-locked-open="main.isSidenavOpen"
				style="overflow: hidden; width: 400px;"
				md-component-id="settingMenu">
		<div ng-include src="'scripts/components/toolbar/settings-sidenav.html'"></div>
	</md-sidenav>
	<!-- FILTERS SIDENAV -->
	<md-sidenav ng-show="main.selectedSidenav === 'filters'"
				class="md-sidenav-right md-whiteframe-z2"
				md-is-locked-open="main.isSidenavOpen"
				style="overflow: hidden; width: 400px;"
				md-component-id="filterMenu">
		<div ng-include src="'scripts/components/toolbar/filters-sidenav.html'"></div>
	</md-sidenav>
	<!-- AREAS SIDENAV -->
	<md-sidenav ng-show="main.selectedSidenav === 'areas'"
				class="md-sidenav-right md-whiteframe-z2"
				md-component-id="areaMenu"
				md-is-locked-open="main.isSidenavOpen"
				style="overflow: hidden; width: 400px;">
		<div ng-include src="'scripts/components/toolbar/areas-sidenav.html'" style="height: 100%"></div>
	</md-sidenav>
</div>

<!--div class="FullScreenHelp" data-intro="Full screen" data-position="left"></div-->
<div class="ZoomControlsHelp" data-intro="Zoom Controls" data-position="left"></div>
<input type="text" style="opacity: 0;" id="linkToCopy" name="linkToCopy" value="https://displacement.rheticus.eu/#/">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<script type="text/javascript">
	window.cookieconsent_options = {
		"message":"This website uses cookies to ensure you get the best experience on our website",
		"dismiss":"Got it!",
		"learnMore":"More info",
		"link":null,
		"theme":"dark-top"};
</script>
