<div id="midHeightContainer" ng-controller="ToolbarCtrl" ng-cloak="" style="height: 100%">
  <md-toolbar ng-click="openAreaMenu()">
    <md-item-content layout="row" layout-align="center center" style="margin: 0 auto;">
      <md-icon md-svg-src="images/icons/areas.svg"></md-icon>
      <h1 class="md-toolbar-tools noselect" style="float:right;cursor:default;color:#ffffff;">{{ 'myAreasToolbar' | translate }}</h1>
    </md-item-content>
  </md-toolbar>
  <div ng-controller="SwitchPanelCtrl as switchpanel" style="margin-top:15px; margin-left: 15px; height: 100%; overflow-y: hidden;" ng-class="{'full-height-container': switchpanel.userDealsDistinct.length <= 8, 'mid-height-container': switchpanel.userDealsDistinct.length > 8}">
    <md-input-container class="md-block">
      <md-icon style="color:grey;" md-svg-src="images/icons/search.svg"></md-icon>
      <input ng-model="switchpanel.search" ng-change="switchpanel.filterSelectedAreas()">
    </md-input-container>
    <div style="width: 100%">
      <label style="width: 86%;">{{ 'areasLabel' | translate}}</label>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="!switchpanel.isAreasListVisible"
              ng-click="switchpanel.showAreasList()">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="switchpanel.isAreasListVisible"
              ng-click="switchpanel.hideAreasList()">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      </button>
    </div>
    <div class="mid-height-bookmark" ng-if="switchpanel.isAreasListVisible">
      <md-list-item ng-repeat="subscription in switchpanel.filteredAreas">
        <p ng-click="switchpanel.updateSelectionArea($index,switchpanel.filteredAreas)">{{subscription.product_name}}</p>
      </md-list-item>
    </div>

    <div style="width: 100%">
      <label style="margin-top: 15px; width: 86%;">{{ 'bookmarksLabel' | translate }}</label>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="!switchpanel.isBookmarksListVisible && !switchpanel.addBookmarkMode && !switchpanel.detailedBookmark && !switchpanel.editBookmarkMode"
              ng-click="switchpanel.showBookmarksList()">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="switchpanel.isBookmarksListVisible && !switchpanel.addBookmarkMode && !switchpanel.detailedBookmark && !switchpanel.editBookmarkMode"
              ng-click="switchpanel.hideBookmarksList()">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      </button>
    </div>
    <!-- ADD NEW BOOKMARK SECTION -->
    <div style="padding: 10px; margin-right: 10px; border: 1px solid #bdbdbd" ng-show="switchpanel.addBookmarkMode">
      <div>
        <label for="bookmarkName">{{ 'nameLabel' | translate }}</label>
        <input id="bookmarkName" type="text" style="width: 100%" ng-model="switchpanel.addBookmarkName"/>
      </div>
      <div style="margin-top: 10px;">
        <label>{{ 'geometryLabel' | translate }}</label>
        <table>
          <tbody>
          <tr>
            <td style="padding: 3px" class="addBookmarkCell">
              <button type="button" ng-click="switchpanel.selectVisibleArea()">
                <img src="images/icons/planet.svg">
              </button>
            </td>
            <td style="padding: 3px">
              <button type="button" ng-click="switchpanel.drawBox()">
                <img src="images/icons/rectangle.svg">
              </button>
            </td>
            <td style="padding: 3px">
              <button type="button" ng-click="switchpanel.drawPolygon()">
                <img src="images/icons/polygon.svg">
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 10px;">
        <label>{{ 'monitorLabel' | translate }}</label>
        <button style="margin-left:10px"
                ng-if="switchpanel.addBookmarkMonitorPanel"
                title="{{'removeMonitorTooltip' | translate}}"
                ng-click="switchpanel.setAddBookmarkMonitorPanel(false)"
                type="button">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <button style="margin-left:10px"
                title="{{switchpanel.disabledMonitorTooltip}}"
                ng-if="!switchpanel.addBookmarkMonitorPanel"
                ng-click="switchpanel.setAddBookmarkMonitorPanel(true)"
                ng-disabled = "switchpanel.groupMonitorDisabled"
                type="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <div ng-if="switchpanel.addBookmarkMonitorPanel" style="margin-top: 10px">
          <table>
            <tr>
              <td style="text-align: center">
                <label for="addMonitorSwitch" style="margin-bottom: 0px;">
                  <table>
                    <tr>
                      <td style="font-size: 11px"><span>{{ 'stateLabel' | translate }}</span></td>
                      <td style="font-size: 11px; color: grey;">
                        <button ng-if="!switchpanel.groupMonitorStateBool"
                                title="{{'activeStateInfoTooltip' | translate }}"
                                style="background: transparent; border: none"
                                type="button">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                        <button ng-if="switchpanel.groupMonitorStateBool"
                                title="{{'pauseStateInfoTooltip' | translate }}"
                                style="background: transparent; border: none"
                                type="button">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </label>
                <md-switch id="addMonitorSwitch"
                           style="display: block; margin: auto;"
                           ng-disabled="switchpanel.groupMonitorDisabled"
                           ng-model="switchpanel.groupMonitorStateBool">
                </md-switch>
              </td>
              <td style="text-align: center">
                <label for="bookmarkThreshold">
                  <table>
                    <tr>
                      <td style="font-size: 11px"><span>{{ 'thresholdLabel' | translate }}</span></td>
                      <td style="font-size: 11px; color: grey;">
                        <button style="background: transparent; border: none"
                                title="{{'thresholdInfoTooltip' | translate}}"
                                type="button">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </label>
                <input id="bookmarkThreshold"
                       ng-model="switchpanel.groupMonitorThreshold"
                       type="text"
                       style="width: 70%"/>
              </td>
              <td style="text-align: center">
                <label for="bookmarkPersistence">
                  <table>
                    <tr>
                      <td style="font-size: 11px"><span>{{ 'persistenceLabel' | translate }}</span></td>
                      <td style="font-size: 11px; color: grey;">
                        <button style="background: transparent; border: none"
                                title="{{'persistenceInfoTooltip' | translate}}"
                                type="button">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </label>
                <input id="bookmarkPersistence"
                       ng-model="switchpanel.groupMonitorPersistence"
                       ng-value="switchpanel.groupMonitorPersistence"
                       type="number"
                       min="1"
                       style="width: 70%"/>
              </td>
              <td style="text-align: center">
                <label for="bookmarkInterval">
                  <table>
                    <tr>
                      <td style="font-size: 11px"><span>{{ 'monthIntervalLabel' | translate }}</span></td>
                      <td style="font-size: 11px; color: grey;">
                        <button style="background: transparent; border: none"
                                title="{{'intervalInfoTooltip' | translate}}"
                                type="button">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </label>
                <input id="bookmarkInterval"
                       ng-model="switchpanel.groupMonitorInterval"
                       ng-value="switchpanel.groupMonitorInterval"
                       type="number"
                       min="0"
                       style="width: 70%"/>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div style="text-align: right; margin-top: 10px">
        <md-button style="font-size: 12px;" ng-click="switchpanel.exitAddBookmarkMode()">
          {{ 'cancelButton' | translate }}
        </md-button>
        <md-button style="font-size: 12px;" ng-click="switchpanel.saveBookmark()">
          {{ 'saveButton' | translate }}
        </md-button>
      </div>
    </div>
    <!-- BOOKMARK DETAILS SECTION -->
    <div ng-if="switchpanel.detailedBookmark">
      <md-list-item>
        <md-icon ng-if="switchpanel.detailedBookmark.m_monitor_group_entity"
                 style="margin-right: 10px"
                 ng-class="{'triggeredMonitorGroup': switchpanel.detailedBookmark.m_monitor_group_entity.m_state === 'triggered',
                              'pausedMonitorGroup': switchpanel.detailedBookmark.m_monitor_group_entity.m_state === 'pause',
                              'activeMonitorGroup': switchpanel.detailedBookmark.m_monitor_group_entity.m_state === 'active'}"
                 class="glyphicon glyphicon-warning-sign"></md-icon>
        <span style="flex: 1; margin-right: 8px">
          <md-tooltip>{{ switchpanel.detailedBookmark.name }}</md-tooltip>
          <p>{{ switchpanel.getBookmarkName(switchpanel.detailedBookmark.name) }}</p>
        </span>
        <button type="button"
                ng-if="!switchpanel.detailedBookmark.showGeometry"
                ng-click="switchpanel.showBookmarkGeometry(switchpanel.detailedBookmark, true)"
                ng-disabled="switchpanel.geomButtonDisabled"
                ng-style="switchpanel.geomButtonDisabled && {opacity: 0.5}"
                style="margin-right:8px; background: transparent; border: none">
          <md-tooltip>{{'showGeometryLabel' | translate}}</md-tooltip>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button"
                ng-if="switchpanel.detailedBookmark.showGeometry"
                ng-click="switchpanel.showBookmarkGeometry(switchpanel.detailedBookmark, false)"
                ng-disabled="switchpanel.geomButtonDisabled"
                ng-style="switchpanel.geomButtonDisabled && {opacity: 0.5}"
                style="margin-right:8px; background: transparent; border: none">
          <md-tooltip>{{'hideGeometryLabel' | translate}}</md-tooltip>
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
        <button style="background: transparent; border: none"
                type="button"
                ng-click="switchpanel.hideBookmarkDetails(false)">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </md-list-item>
      <div style="padding-top: 20px; margin-right: 20px; border: 1px solid #bdbdbd">
        <div style="padding-left: 30px; padding-right: 30px;">
          <label for="bookmarkGeometryTable">{{ 'geometryLabel' | translate }}</label>
          <table id="bookmarkGeometryTable" style="width: 100%">
            <tr>
              <td style="padding: 5px"><span>{{ 'extensionLabel' | translate }}</span></td>
              <td style="padding: 5px; text-align: right">
                {{switchpanel.getGeometryArea(switchpanel.detailedBookmark.geom_geo_json).toFixed(4)}} km<sup>2</sup>
              </td>
            </tr>
            <tr>
              <td style="padding: 5px"><span>{{ 'scattererNumberLabel' | translate }}</span></td>
              <td style="padding: 5px; text-align: right">{{switchpanel.detailedBookmark.scatterersNumber}}</td>
            </tr>
          </table>
        </div>
        <div ng-if="switchpanel.detailedBookmark.m_monitor_group_entity" style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
          <label for="bookmarkGroupMonitorTable">{{ 'monitorLabel' | translate }}</label>
          <table id="bookmarkGroupMonitorTable" style="width: 100%">
            <tr>
              <td style="padding: 5px"><span>{{ 'thresholdLabel' | translate }}</span></td>
              <td style="margin-left: 10px; padding: 5px; text-align: right">{{switchpanel.detailedBookmark.m_monitor_group_entity.m_threshold / 10}}</td>
            </tr>
            <tr>
              <td style="padding: 5px"><span>{{ 'persistenceLabel' | translate }}</span></td>
              <td style="margin-left: 10px; padding: 5px; text-align: right">{{switchpanel.detailedBookmark.m_monitor_group_entity.m_persistence}}</td>
            </tr>
            <tr>
              <td style="padding: 5px"><span>{{ 'monthIntervalLabel' | translate }}</span></td>
              <td style="margin-left: 10px; padding: 5px; text-align: right">{{switchpanel.detailedBookmark.m_monitor_group_entity.m_month_interval}}</td>
            </tr>
          </table>
        </div>
        <div style="text-align: right">
          <md-button style="font-size: 12px" ng-click="switchpanel.deleteBookmark(switchpanel.detailedBookmark.id)">
            {{ 'deleteLabel' | translate }}
          </md-button>
          <md-button style="margin-right:20px; font-size: 12px" ng-click="switchpanel.setEditBookmarkMode(true)">
            {{ 'editButtonLabel' | translate }}
          </md-button>
        </div>
      </div>
    </div>
    <!-- EDIT BOOKMARK SECTION -->
    <div ng-if="switchpanel.editBookmarkMode">
      <md-list-item>
        <md-icon ng-if="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_id"
                 style="margin-right: 10px"
                 ng-class="{'triggeredMonitorGroup': switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state === 'triggered',
                              'pausedMonitorGroup': switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state === 'pause',
                              'activeMonitorGroup': switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state === 'active'}"
                 class="glyphicon glyphicon-warning-sign"></md-icon>
        <span style="flex: 1; margin-right: 8px" title="{{ switchpanel.bookmarkToEdit.name }}">
          <md-tooltip>{{switchpanel.bookmarkToEdit.name}}</md-tooltip>
          <p>{{switchpanel.getBookmarkName(switchpanel.bookmarkToEdit.name)}}</p>
        </span>
        <button type="button"
                ng-if="!switchpanel.bookmarkToEdit.showGeometry"
                ng-click="switchpanel.showBookmarkGeometry(switchpanel.bookmarkToEdit, true)"
                ng-disabled="switchpanel.geomButtonDisabled"
                ng-style="switchpanel.geomButtonDisabled && {opacity: 0.5}"
                style="margin-right:8px; background: transparent; border: none">
          <md-tooltip>{{'showGeometryLabel' | translate}}</md-tooltip>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button"
                ng-if="switchpanel.bookmarkToEdit.showGeometry"
                ng-click="switchpanel.showBookmarkGeometry(switchpanel.bookmarkToEdit, false)"
                ng-disabled="switchpanel.geomButtonDisabled"
                ng-style="switchpanel.geomButtonDisabled && {opacity: 0.5}"
                style="margin-right:8px; background: transparent; border: none">
          <md-tooltip>{{'hideGeometryLabel' | translate}}</md-tooltip>
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
        <button style="background: transparent; border: none"
                type="button"
                ng-click="switchpanel.setEditBookmarkMode(false)">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </md-list-item>
      <div style="padding-left: 20px; padding-right: 20px; padding-top: 20px; margin-right: 20px; border: 1px solid #bdbdbd">
        <div>
          <label for="editBookmarkName">{{ 'nameLabel' | translate }}</label>
          <input id="editBookmarkName"
                 type="text"
                 style="width: 100%"
                 ng-model="switchpanel.bookmarkToEdit.name"/>
        </div>
        <div style="margin-top: 10px;">
          <label>{{ 'geometryLabel' | translate }}</label>
          <table>
            <tbody>
            <tr>
              <td style="padding: 3px" class="addBookmarkCell">
                <button type="button" ng-click="switchpanel.selectVisibleArea()">
                  <img src="images/icons/planet.svg">
                </button>
              </td>
              <td style="padding: 3px">
                <button type="button" ng-click="switchpanel.drawBox()">
                  <img src="images/icons/rectangle.svg">
                </button>
              </td>
              <td style="padding: 3px">
                <button type="button" ng-click="switchpanel.drawPolygon()">
                  <img src="images/icons/polygon.svg">
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div style="margin-top: 10px;">
          <label>{{ 'monitorLabel' | translate }}</label>
          <button style="margin-left:10px"
                  ng-if="switchpanel.editBookmarkMonitorPanel"
                  ng-click="switchpanel.setEditBookmarkMonitorPanel(false)"
                  title="{{'removeMonitorTooltip' | translate}}"
                  type="button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button style="margin-left:10px"
                  title="{{switchpanel.disabledMonitorTooltip}}"
                  ng-if="!switchpanel.editBookmarkMonitorPanel"
                  ng-click="switchpanel.setEditBookmarkMonitorPanel(true)"
                  ng-disabled = "switchpanel.groupMonitorDisabled"
                  type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <div ng-if="switchpanel.editBookmarkMonitorPanel" style="margin-top: 10px">
            <table>
              <tr>
                <td style="text-align: center; width: 25%;">
                  <label for="editMonitorSwitch" style="margin-bottom: 0px;">
                    <table>
                      <tr>
                        <td style="font-size: 11px"><span>{{ 'stateLabel' | translate }}</span></td>
                        <td style="font-size: 11px; color: grey;">
                          <button ng-if="!switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state_bool"
                                  title="{{'activeStateInfoTooltip' | translate }}"
                                  style="background: transparent; border: none"
                                  type="button">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                          </button>
                          <button ng-if="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state_bool"
                                  title="{{'pauseStateInfoTooltip' | translate }}"
                                  style="background: transparent; border: none"
                                  type="button">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </label>
                  <md-switch id="editMonitorSwitch"
                             style="display: flex; justify-content: center;"
                             ng-disabled="switchpanel.groupMonitorDisabled"
                             ng-model="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_state_bool">
                  </md-switch>
                </td>
                <td style="text-align: center; width: 25%;">
                  <label for="editBookmarkThreshold">
                    <table>
                      <tr>
                        <td style="font-size: 11px"><span>{{ 'thresholdLabel' | translate }}</span></td>
                        <td style="font-size: 11px; color: grey;">
                          <button style="background: transparent; border: none"
                                  title="{{'thresholdInfoTooltip' | translate}}"
                                  type="button">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </label>
                  <input id="editBookmarkThreshold"
                         ng-model="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_threshold"
                         type="text"
                         style="width: 70%"/>
                </td>
                <td style="text-align: center; width: 25%;">
                  <label for="editBookmarkPersistence">
                    <table>
                      <tr>
                        <td style="font-size: 11px"><span>{{ 'persistenceLabel' | translate }}</span></td>
                        <td style="font-size: 11px; color: grey;">
                          <button style="background: transparent; border: none"
                                  title="{{'persistenceInfoTooltip' | translate}}"
                                  type="button">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </label>
                  <input id="editBookmarkPersistence"
                         ng-model="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_persistence"
                         ng-value="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_persistence"
                         type="number"
                         min="1"
                         style="width: 70%"/>
                </td>
                <td style="text-align: center; width: 25%;">
                  <label for="editBookmarkInterval">
                    <table>
                      <tr>
                        <td style="font-size: 11px"><span>{{ 'monthIntervalLabel' | translate }}</span></td>
                        <td style="font-size: 11px; color: grey;">
                          <button style="background: transparent; border: none"
                                  title="{{'intervalInfoTooltip' | translate}}"
                                  type="button">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </label>
                  <input id="editBookmarkInterval"
                         ng-model="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_month_interval"
                         ng-value="switchpanel.bookmarkToEdit.m_monitor_group_entity.m_month_interval"
                         type="number"
                         min="0"
                         style="width: 70%"/>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div style="text-align: right; margin-top: 10px">
          <md-button style="font-size: 12px;" ng-click="switchpanel.setEditBookmarkMode(false)">
            {{ 'cancelButton' | translate }}
          </md-button>
          <md-button style="font-size: 12px;" ng-click="switchpanel.saveEditedBookmark()">
            {{ 'saveButton' | translate }}
          </md-button>
        </div>
      </div>
    </div>
    <!-- BOOKMARK LIST SECTION -->
    <div class="mid-height-bookmark" style="margin-top: 0px;" ng-show="switchpanel.isBookmarksListVisible && !switchpanel.addBookmarkMode && !switchpanel.detailedBookmark && !switchpanel.editBookmarkMode">
      <div>
        <md-list-item>
          <span style="flex: 1; margin-right: 8px"><b>{{ 'addBookmarkTooltip' | translate}}</b></span>
          <button ng-if = "!switchpanel.showAllGeometriesFlag"
                  style="margin-right:8px; border: none; background: transparent;"
                  ng-click="switchpanel.showAllGeometries()"
                  type="button">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <md-tooltip>{{'showAllGeometriesLabel' | translate}}</md-tooltip>
          </button>
          <button ng-if = "switchpanel.showAllGeometriesFlag"
                  style="margin-right:8px; border: none; background: transparent;"
                  ng-click="switchpanel.hideAllGeometries()"
                  type="button">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            <md-tooltip>{{'hideAllGeometriesLabel' | translate}}</md-tooltip>
          </button>
          <button style="border: none; background: transparent;"
                  type="button"
                  ng-click="switchpanel.setAddBookmarkMode(true)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <md-tooltip>{{ 'addBookmarkTooltip' | translate}}</md-tooltip>
          </button>
        </md-list-item>
        <md-list-item ng-repeat="bookmark in switchpanel.filteredBookmarks">
          <md-icon ng-if="bookmark.m_monitor_group_entity"
                   style="margin-right: 10px"
                   ng-class="{'triggeredMonitorGroup': bookmark.m_monitor_group_entity.m_state === 'triggered',
                                'pausedMonitorGroup': bookmark.m_monitor_group_entity.m_state === 'pause',
                                'activeMonitorGroup': bookmark.m_monitor_group_entity.m_state === 'active'}"
                   class="glyphicon glyphicon-warning-sign"></md-icon>
          <span style="flex: 1; margin-right: 8px"
                ng-click="switchpanel.moveToBookmark(bookmark.geom_geo_json)">
            <md-tooltip>{{bookmark.name}}</md-tooltip>
            <p>{{switchpanel.getBookmarkName(bookmark.name)}}</p>
          </span>
          <button type="button"
                  ng-if="!bookmark.showGeometry"
                  ng-click="switchpanel.showBookmarkGeometry(bookmark, true)"
                  style="margin-right:8px; background: transparent; border: none">
            <md-tooltip>{{'showGeometryLabel' | translate}}</md-tooltip>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
          <button type="button"
                  ng-if="bookmark.showGeometry"
                  ng-click="switchpanel.showBookmarkGeometry(bookmark, false)"
                  style="margin-right:8px; background: transparent; border: none">
            <md-tooltip>{{'hideGeometryLabel' | translate}}</md-tooltip>
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </button>
          <button style="background: transparent; border: none"
                  type="button"
                  ng-click="switchpanel.showBookmarkDetails(bookmark)">
            <md-tooltip>{{'bookmarkScattererDetailsTooltip'|translate}}</md-tooltip>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </md-list-item>
      </div>
    </div>

    <!-- BOOKMARK SCATTERER SECTION -->
    <div style="width: 100%">
      <label style="margin-top: 15px; width: 86%;">{{ 'bookmarksScattererLabel' | translate }}</label>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="!switchpanel.isBookmarkScatterersListVisible && !switchpanel.bookmarkScattererDetails && !switchpanel.bookmarkScattererToEdit"
              ng-click="switchpanel.showBookmarkScatterersList()">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
      <button style="background: transparent; border: none;"
              type="button"
              ng-if="switchpanel.isBookmarkScatterersListVisible && !switchpanel.bookmarkScattererDetails && !switchpanel.bookmarkScattererToEdit"
              ng-click="switchpanel.hideBookmarkScatterersList()">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      </button>
    </div>
    <!-- BOOKMARK SCATTERER DETAILS SECTION -->
    <div ng-if="switchpanel.bookmarkScattererDetails">
      <md-list-item>
        <md-icon ng-if="switchpanel.bookmarkScattererDetails.m_monitor_entity"
                 style="margin-right: 10px"
                 ng-class="{
                    'activeAlarm': switchpanel.bookmarkScattererDetails.m_monitor_entity.m_state === 'active',
                    'exceededAlarm': switchpanel.bookmarkScattererDetails.m_monitor_entity.m_state === 'triggered',
                    'pausedAlarm': switchpanel.bookmarkScattererDetails.m_monitor_entity.m_state === 'pause'
                    }"
                 class="glyphicon glyphicon-warning-sign"></md-icon>
        <span style="flex: 1; margin-right: 8px"
              ng-click="switchpanel.moveToBookmarkScatterer(switchpanel.bookmarkScattererDetails)">
            {{ switchpanel.bookmarkScattererDetails.name }}
          </span>
        <button style="background: transparent; border: none; margin-right: 10px;"
                ng-click="switchpanel.moveToBookmarkScatterer(switchpanel.bookmarkScattererDetails)">
          <md-tooltip md-direction="top">{{'displacementSeriesTooltip'|translate}}</md-tooltip>
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        </button>
        <button style="background: transparent; border: none;"
                ng-click="switchpanel.showBookmarkScattererDetails(undefined)">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </md-list-item>
      <div ng-class="{'sectionBorder': switchpanel.bookmarkScattererDetails.m_monitor_entity}">
        <div ng-if="switchpanel.bookmarkScattererDetails.m_monitor_entity">
          <label for="bookmarkScattererDetailsMonitor">Monitor</label>
          <table id="bookmarkScattererDetailsMonitor" style="width: 100%">
            <tr>
              <td style="padding: 10px">{{'thresholdLabel' | translate}}</td>
              <td style="padding: 10px; text-align: right;">{{(switchpanel.bookmarkScattererDetails.m_monitor_entity.m_threshold).toFixed(2) / 10}}</td>
            </tr>
            <tr>
              <td style="padding: 10px">{{'monthIntervalLabel' | translate}}</td>
              <td style="padding: 10px; text-align: right;">{{switchpanel.bookmarkScattererDetails.m_monitor_entity.m_month_interval}}</td>
            </tr>
            <tr>
              <td style="padding: 10px">{{'persistenceLabel' | translate}}</td>
              <td style="padding: 10px; text-align: right;">{{switchpanel.bookmarkScattererDetails.m_monitor_entity.m_persistence}}</td>
            </tr>
          </table>
        </div>
        <div style="text-align: right">
          <md-button style="font-size: 12px; margin-right:0px" ng-click="switchpanel.deleteBookmarkScatterer(switchpanel.bookmarkScattererDetails)">
            {{'deleteLabel'|translate}}
          </md-button>
          <md-button style="font-size: 12px; margin-right:0px" ng-click="switchpanel.shareBookmarkScattererLocation(switchpanel.bookmarkScattererDetails)">
            {{'shareLabel'|translate}}
          </md-button>
          <md-button style="font-size: 12px; margin-right:0px" ng-click="switchpanel.enterEditMode()">
            {{'editButtonLabel'|translate}}
          </md-button>
        </div>
      </div>
    </div>
    <!-- BOOKMARK SCATTERER EDIT SECTION -->
    <div ng-if="switchpanel.bookmarkScattererToEdit">
      <div class="sectionBorder">
        <div>
          <label for="editBookmarkScattererName">Nome</label>
          <input id="editBookmarkScattererName"
                 type="text"
                 style="width: 100%"
                 ng-model="switchpanel.bookmarkScattererToEdit.name"/>
        </div>
        <div style="margin-top: 10px;">
          <label>{{'monitorLabel'|translate}}</label>
          <button style="margin-left:10px"
                  ng-if="switchpanel.editBookmarkScattererMonitorPanel"
                  ng-click="switchpanel.deleteBookmarkScattererToEditMonitor()"
                  type="button">
            <md-tooltip md-direction="top">{{'removeMonitorTooltip'|translate}}</md-tooltip>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button style="margin-left:10px"
                  ng-if="!switchpanel.editBookmarkScattererMonitorPanel"
                  ng-click="switchpanel.showBookmarkScattererMonitorPanel(true)"
                  type="button">
            <md-tooltip md-direction="top">{{'addMonitorTooltip'|translate}}</md-tooltip>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <div ng-if="switchpanel.editBookmarkScattererMonitorPanel" style="margin-top: 10px">
            <table>
              <tr>
                <td style="text-align: center; width: 25%; font-size: 11px;">
                  <label for="bookmarkScattererMonitorSwitch">
                    <span>{{'stateLabel' | translate}}</span>
                    <button style="background: transparent; border: none; color: grey;"
                            title="{{ 'activeStateInfoTooltip' | translate }}"
                            ng-if="!switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_state_bool">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    <button ng-if="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_state_bool"
                            title="{{ 'pauseStateInfoTooltip' | translate }}"
                            style="background: transparent; border: none; color: grey;">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                  </label>
                  <md-content id="bookmarkScattererMonitorSwitch"
                              layout="row"
                              layout-align="start center"
                              style="justify-content: center; max-height: 22px">
                    <md-switch ng-model="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_state_bool">
                    </md-switch>
                  </md-content>
                </td>
                <td style="text-align: center; width: 25%;font-size: 11px;">
                  <label for="editBookmarkScattererThreshold">
                    <span>{{'thresholdLabel'|translate}}</span>
                    <button title="{{ 'thresholdInfoTooltip' | translate }}"
                            style="background: transparent; border: none; color: grey;">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                  </label>
                  <input id="editBookmarkScattererThreshold"
                         ng-model="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_threshold"
                         type="text"
                         style="width: 70%"/>
                </td>
                <td style="text-align: center; width: 25%;font-size: 11px;">
                  <label for="editBookmarkScattererPersistence">
                    <span>{{'persistenceLabel'|translate}}</span>
                    <button style="background: transparent; border: none; color: grey;"
                            title="{{ 'persistenceInfoTooltip' | translate }}">
                        <span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"></span>
                    </button>
                  </label>
                  <input id="editBookmarkScattererPersistence"
                         ng-model="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_persistence"
                         ng-value="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_persistence"
                         type="number"
                         min="0"
                         style="width: 70%"/>
                </td>
                <td style="text-align: center; width: 25%;font-size: 11px;">
                  <label for="editBookmarkScattererInterval">
                    <span>{{'monthIntervalLabel'|translate}}</span>
                    <button style="background: transparent; border: none; color: grey;"
                            title="{{ 'intervalInfoTooltip' | translate }}">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                  </label>
                  <input id="editBookmarkScattererInterval"
                         ng-model="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_month_interval"
                         ng-value="switchpanel.bookmarkScattererToEdit.m_monitor_entity.m_month_interval"
                         type="number"
                         min="0"
                         style="width: 70%"/>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div style="text-align: right; margin-top: 10px">
          <md-button style="font-size: 12px;" ng-click="switchpanel.exitEditMode()">
            {{ 'cancelButton' | translate }}
          </md-button>
          <md-button style="font-size: 12px;" ng-click="switchpanel.saveEditedBookmarkScatterer()">
            {{ 'saveButton' | translate }}
          </md-button>
        </div>
      </div>
    </div>
    <div class="mid-height-bookmark" style="margin-top: 0px" ng-if="switchpanel.isBookmarkScatterersListVisible && !switchpanel.bookmarkScattererDetails && !switchpanel.bookmarkScattererToEdit">
      <div style="margin:10px; margin-top: 5px;">
        <span ng-if="switchpanel.filteredBookmarksScatterer.length === 0" style="font-size: medium">{{ 'emptyBookmarkScattererList' | translate }}</span>
        <md-list-item  ng-if="switchpanel.filteredBookmarksScatterer.length !== 0"
                       ng-repeat="bookmarkScatterer in switchpanel.filteredBookmarksScatterer"
                       style="padding: 0">
          <md-icon ng-if="bookmarkScatterer.m_monitor_entity"
                   style="margin-right: 10px"
                   ng-class="{
                    'activeAlarm': bookmarkScatterer.m_monitor_entity.m_state === 'active',
                    'exceededAlarm': bookmarkScatterer.m_monitor_entity.m_state === 'triggered',
                    'pausedAlarm': bookmarkScatterer.m_monitor_entity.m_state === 'pause'
                    }"
                   class="glyphicon glyphicon-warning-sign"></md-icon>
          <span style="flex: 1; margin-right: 8px"
                ng-click="switchpanel.moveToBookmarkScatterer(bookmarkScatterer)">
              {{ bookmarkScatterer.name }}
            </span>
          <button style="background: transparent; border: none; margin-right: 10px;"
                  ng-click="switchpanel.moveToBookmarkScatterer(bookmarkScatterer)">
            <md-tooltip>{{'displacementSeriesTooltip'|translate}}</md-tooltip>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          </button>
          <button style="background: transparent; border: none;"
                  ng-click="switchpanel.showBookmarkScattererDetails(bookmarkScatterer)">
            <md-tooltip>{{'bookmarkScattererDetailsTooltip'|translate}}</md-tooltip>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </md-list-item>
      </div>
    </div>
  </div>
</div>
