<div ng-controller="ToolbarCtrl" ng-cloak="">
    <md-toolbar ng-click="openSettingMenu()">
        <md-item-content layout="row" layout-align="center center" style="margin: 0 auto;">
            <md-icon md-svg-src="images/icons/settings.svg"></md-icon>
            <h1 class="md-toolbar-tools noselect" style="cursor:default;color:#ffffff;">{{ 'settingsToolbar' | translate }}</h1>
        </md-item-content>
    </md-toolbar>
    <div style="margin:10px;">
        <label>{{ 'language' | translate }}</label>
        <div>
            <img title="{{ 'itFlag' | translate }}" src="images/itFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('it')">
            <img title="{{ 'enFlag' | translate }}" src="images/enFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('en')">
            <img title="{{ 'grFlag' | translate }}" src="images/grFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('gr')">
            <!--img title="{{ 'esFlag' | translate }}" style="margin-left:10px;" src="images/esFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('es')"-->
            <img title="{{ 'plFlag' | translate }}" src="images/plFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('pl')">
            <img title="{{ 'sqFlag' | translate }}" src="images/alFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('sq')">
            <!--img title="{{ 'arFlag' | translate }}" style="margin-left:10px;" src="images/arFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('ar')">-->
            <img title="{{ 'cnFlag' | translate }}" src="images/cnFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('zh-cn')"
            />
            <img title="{{ 'frFlag' | translate }}" src="images/frFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('fr')"
            />
            <img title="{{ 'nlFlag' | translate }}" src="images/nlFlag.png" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('nl')"
            />
            <img style="margin-top: 6px" title="{{ 'daFlag' | translate }}" src="images/daFlag.png" width="30" height="30" style="cursor: pointer;"
                 ng-click="changeLanguage('da')" />
        </div>

    </div>
    <div style="margin:10px;">
        <label>{{ 'basemapSettings' | translate }}</label>
        <form ng-controller="BasemapPopoupCtrl as basemapPop">
            <md-radio-group ng-model="basemapPop.selected_view" ng-change="basemapPop.changeBaseLayer()">
                <md-radio-button value="OpenStreetMap">
                    <label class="option-label">OpenStreetMap</label>
                </md-radio-button>
                <md-radio-button value="Here">
                    <label class="option-label">Satellite Map with labels</label>
                </md-radio-button>
            </md-radio-group>
        </form>
    </div>
    <div ng-controller="exportKMLCtrl as exportKml" ng-show="exportKml.visibleWarning" style="margin:10px;" >
        <label>{{ 'exportKML' | translate }}</label>
        <form ng-hide="exportKml.showLoading">
            <button type="button" title="{{ 'Export_KML' | translate }}" ng-click="exportKml.download()">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
            </button>
            {{ 'Export_KML' | translate }}
        </form>
        <div ng-show="exportKml.showLoading">
            {{ 'Export_KML_active' | translate }}
            <md-progress-linear style="margin-top:10px;margin-right:10px;" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
    <div style="margin:10px;" ng-controller="SwitchPanelCtrl as switchpanel">
        <label>{{ 'extraFeaturesSettings' | translate }}</label>
        <div>
            <md-switch ng-click="switchpanel.switchOverlayIffi()" ng-checked="switchpanel.view_overlay_iffi">
                <label class="option-label">Landslide maps (IFFI)</label>
            </md-switch>
            <md-switch ng-click="switchpanel.switchOverlayCowiGelaNiscemi()" ng-checked="switchpanel.view_overlay_cowiGelaNiscemi">
                <label class="option-label">Hexagon MAP Demo (Gela, Sicily - Italy)</label>
            </md-switch>
        </div>
    </div>
</div>
