<md-toolbar ng-controller="ToolbarCtrl" ng-cloak="">
  <div class="md-toolbar-tools" style="margin-right:15px;">
    <!--RHETICUS LOGO-->
    <img hide-xs src="images/icons/logo_regular.png" alt="Logo" width="120" height="40" style="cursor: pointer;" onclick="window.location.href = '/'">
    <img hide-gt-xs src="images/logo_small.png" alt="Logo" width="25" height="25" style="cursor: pointer;" onclick="window.location.href = '/'">

    <!--SERVICE NAME-->
    <span flex="35"></span>
    <h3 hide-xs class="noselect" style="cursor:default;font-weight: bold;color:#ffffff;">
      Rheticus Displacement
    </h3>

    <!--RIGHT BUTTON TOOL-->
    <span flex=""></span>
    <h4 hide-xs id="userNameView" style="font-size:12px;" ng-click="showDialog($event)"></h4>
    <md-button title="{{ 'accountToolbar' | translate }}" class="md-icon-button" aria-label="account" ng-click="showDialog($event)">
      <md-icon md-svg-src="images/icons/account.svg" style="color: white;"></md-icon>
    </md-button>

    <!--GEOCODER-->
    <div style="margin-left:5px;" ng-controller="GeocoderCtrl as geo">
      <form id="searchForm">
        <input id="searchInput" style="float:left; width: 240px;" class="geocoderBar" autocomplete="off" ng-show="geo.visibleSearchBar"
               moo-focus-expression="geo.visibleSearchBar" type="text" ng-model="geo.location" ng-keyup="geo.searchLocation($event)"
               focus="true" />
        <md-button title="{{ 'geocoderToolbar' | translate }}" class="md-icon-button" aria-label="search" ng-click="geo.showSearchBar()">
          <md-icon style="color: white" md-svg-src="images/icons/search.svg"></md-icon>
        </md-button>
      </form>
      <div class="searchResult" ng-show="geo.visibleSearchBar">
        <div ng-if="geo.isLoading">
          <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" md-diameter="25"></md-progress-circular>
          </div>
        </div>
        <div ng-if="!geo.isLoading" ng-repeat="result in geo.results">
          <span style="color:#000000; display: inline-block;" ng-click="geo.getLocation($index)" ng-bind="result.display_name"></span>
          <div ng-if="geo.getIsLocationLoading()" style="display: inline-block; float: right">
            <div layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="13"></md-progress-circular>
            </div>
          </div>
        </div>
      </div>
    </div>

    <md-button title="{{ 'myAreasToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'myAreasToolbar' | translate }}"
               ng-click="openAreaMenu()">
      <md-icon md-svg-src="images/icons/areas.svg"></md-icon>
    </md-button>
    <md-button title="{{ 'filtersToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'filtersToolbar' | translate }}"
               ng-click="openFilterMenu()">
      <md-icon md-svg-src="images/icons/filters.svg"></md-icon>
    </md-button>
    <md-button title="{{ 'settingsToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'settingsToolbar' | translate }}"
               ng-click="openSettingMenu()">
      <md-icon md-svg-src="images/icons/settings.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
