<div class="planet-widget-container"
     ng-controller="PlanetWidgetCtrl as widget"
     ng-show="widget.isAllowed"
     ng-class="{'closed-widget' : !widget.activateWidget ,
               'collapsed-bar' : !widget.expandedBar && widget.activateWidget}">

    <!-- Button to show/hide the widget bar -->
    <div ng-hide="!widget.activateWidget" ng-click="widget.expandBar()" class="planet-widget-close-button">
        <md-icon md-svg-src="images/icons/arrow-icon.svg" ng-class="widget.expandedBar ? '' : 'rotate-arrow-button'">
        </md-icon>
    </div>

    <!-- Central bar -->
    <div ng-hide="!widget.activateWidget || !widget.expandedBar" class="planet-widget-dates-bar">

        <div class="remove-single-date" ng-hide="!widget.date.left">
            <md-icon class="planet-widget-icon" ng-click="widget.removeFirstLayer()"
                     md-svg-src="images/icons/remove.svg"></md-icon>
            <md-icon class="planet-widget-icon" ng-show="widget.checkboxMap1" ng-click="widget.changeVisibilityMap1()"
                     md-svg-src="images/icons/visibility_on.svg" ></md-icon>
            <md-icon class="planet-widget-icon" ng-show="!widget.checkboxMap1" ng-click="widget.changeVisibilityMap1()"
                     md-svg-src="images/icons/visibility_off.svg" ></md-icon>
            <md-datepicker class="planet-date-picker" ng-change="widget.getMapFromPlanetButton('left')"
                           style="background: transparent;"
                           ng-model="widget.date.left" md-placeholder="Enter date"
                           md-is-open="widget.isFirstDatePickerOpen"></md-datepicker>
            <p id="datepicker1-data" class="planet-date-picker-shown-date" ng-click="widget.clickFirstDate()">
                {{ widget.getFormattedDateForDatePicker(widget.date.left) }}
            </p>
            <div class="watch-container" ng-show="widget.showTimeController.left">
                <md-icon class="watch-icon" md-svg-src="images/icons/watch.svg" ></md-icon>
                <div class="watch-controller-container">
                    <md-icon ng-click="widget.plusTimeButtonController1()" class="watch-controller"
                             md-svg-src="images/icons/plus.svg" ></md-icon>
                    <md-icon ng-click="widget.minusTimeButtonController1()" class="watch-controller"
                             md-svg-src="images/icons/minus.svg" ></md-icon>
                </div>
            </div>
        </div>

        <div class="remove-single-date" ng-hide="!widget.date.right">
            <md-icon class="planet-widget-icon" ng-click="widget.removeSecondLayer()"
                     md-svg-src="images/icons/remove.svg" ></md-icon>
            <md-icon class="planet-widget-icon" ng-show="widget.checkboxMap2" ng-click="widget.changeVisibilityMap2()"
                     md-svg-src="images/icons/visibility_on.svg" ></md-icon>
            <md-icon class="planet-widget-icon" ng-show="!widget.checkboxMap2" ng-click="widget.changeVisibilityMap2()"
                     md-svg-src="images/icons/visibility_off.svg" ></md-icon>
            <md-datepicker class="planet-date-picker" ng-change="widget.getMapFromPlanetButton('right')"
                           style="background: transparent;"
                           ng-model="widget.date.right" md-placeholder="Enter date"
                           md-is-open="widget.isSecondDatePickerOpen"></md-datepicker>
            <p id="datepicker2-data" class="planet-date-picker-shown-date" ng-click="widget.clickSecondDate()">
                {{ widget.getFormattedDateForDatePicker(widget.date.right) }}
            </p>
            <div class="watch-container" ng-show="widget.showTimeController.right">
                <md-icon class="watch-icon" md-svg-src="images/icons/watch.svg" ></md-icon>
                <div class="watch-controller-container">
                    <md-icon ng-click="widget.plusTimeButtonController2()" class="watch-controller"
                             md-svg-src="images/icons/plus.svg" ></md-icon>
                    <md-icon ng-click="widget.minusTimeButtonController2()" class="watch-controller"
                             md-svg-src="images/icons/minus.svg" ></md-icon>
                </div>
            </div>
        </div>

        <div class="add-single-date" ng-show="widget.date.right === null" ng-click="widget.addDateButton()">
            <md-icon md-svg-src="images/icons/calendar-plus.svg" ></md-icon>
            <div style="color: white"> Add Date </div>
        </div>

    </div>

    <!-- Satellite button on/off the widget -->
    <div ng-click="widget.toogleWidget()" class="planet-widget-activate-button"
         ng-class="widget.activateWidget ? 'on-button-widget' : ''">
<!--        <img class="satellite-icon" src="images/icons/satellite-icon.png">-->
        <img class="planet-logo-icon" src="images/icons/planet_logo.svg">
    </div>

</div>


<div ng-controller="PlanetWidgetCtrl as p1" ng-show="p1.switchMapButtonVisibility"
     class="planet-button-compare-map-switcher">
    <div ng-click="p1.buttonSwitchMapMode()">
        <md-icon md-svg-src="images/icons/swiper-icon.svg" ng-show="p1.mapMode.multiple" ></md-icon>
        <md-icon md-svg-src="images/icons/multiple-view-icon.svg" ng-show="p1.mapMode.swiper" ></md-icon>
    </div>
</div>

<div ng-controller="PlanetWidgetCtrl as p" ng-show="p.timeLabel.left.visibility" class="planet-date-time-lable-left">
    <p> {{ p.timeLabel.left.dateLabel }} </p>
</div>

<div ng-controller="PlanetWidgetCtrl as p" ng-show="p.timeLabel.right.visibility" class="planet-date-time-lable-right">
    <p> {{ p.timeLabel.right.dateLabel }} </p>
</div>




