<div hide-xs class="switchpanel"
	 data-intro="Data control Panel"
	 data-position="top"
	 ng-controller="SwitchPanelCtrl as switchpanel"
	 style ="background-color: rgba(0, 60, 136, 0.6); position: absolute; left: 0.5em; bottom: 2.5em;" >
	<!-- overlay tabs -->
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-ps.html'"></div>
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-iffi.html'"></div>
<!-- 	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-sentinel.html'"></div> -->
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-cowiGelaNiscemi.html'"></div>
</div>
