<md-dialog ng-controller="LoginPopupCtrl as loginPop" aria-label="Sample Dialog" ng-cloak="">
  <md-content style="padding: 20px" ng-hide="loginPop.getLoginStatus()">
    <form name="formLogin" ng-submit="loginPop.login()">
      <md-input-container layout="row" layout-align="center">
        <h2 style="font-size: 20px">{{ 'welcomeLogin' | translate }}</h2>
      </md-input-container>
      <md-input-container style="margin:5px;" layout="row" layout-align="center">
        <label>{{ 'userLogin' | translate }}</label>
        <input autocomplete="off" style="width: 300px; margin-right: 5px;" md-autofocus="" ng-model="loginPop.username" id="username" >
      </md-input-container><br>
      <md-input-container style="margin:5px;" layout="row" layout-align="center">
        <label>{{ 'passwordLogin' | translate }}</label>
        <input ng-model="loginPop.password" type="password" id="password">
      </md-input-container><br>
      <md-input-container style="margin:5px;" layout="row" layout-align="center">
        <md-button type='submit' class='md-raised md-primary' >{{ 'buttonOnLogin' | translate }}</md-button>
      </md-input-container><br>
    </form>
    <label ng-show="loginPop.error!=null" style="color:red;display: block;text-align: center;" style="color:red;">{{ "errorLogin" | translate }}</label>
    <md-progress-linear ng-show="loginPop.showLoading" md-mode="indeterminate"></md-progress-linear>
  </md-content>
  <md-content ng-show="loginPop.getLoginStatus()">
    <md-input-container style="margin:5px;" layout="row" layout-align="center">
      <h2>{{ "statusLogin" | translate }}</h2>
    </md-input-container>
    <md-input-container layout="row" layout-align="center">
      <h4> {{loginPop.user}} ({{loginPop.company_name}})</h4>
    </md-input-container>
    <md-input-container style="margin:5px;" layout="row" layout-align="center">
      <md-button class="md-raised md-primary" style="margin-left:5px;"ng-click="loginPop.logout()">{{ "buttonOffLogin" | translate }}</md-button>
    </md-input-container><br>
    <md-progress-linear ng-show="loginPop.showLoading" md-mode="indeterminate"></md-progress-linear>
  </md-content>
</md-dialog>
