<table class="gridtable" ng-show="timeline.trendCrop===true">
			<tr>
				<th>Metadata</th><th>Value</th>
			</tr>
			<tr>
				<td>FamilyName</td><td>{{timeline.tableData.features[0].properties.familyName}}</td>
			</tr>
			<tr>
				<td>Pass</td><td>{{timeline.tableData.features[0].properties.pass}}</td>
			</tr>
			<tr>
				<td>Swath</td><td>{{timeline.tableData.features[0].properties.swath}}</td>
			</tr>
			<tr>
				<td>ProductType</td><td>{{timeline.tableData.features[0].properties.productType}}</td>
			</tr>
			<tr>
				<td>ProductClass</td><td>{{timeline.tableData.features[0].properties.productClass}}</td>
			</tr>
			<tr>
				<td>RelativeOrbitNumber</td><td>{{timeline.tableData.features[0].properties.relativeOrbitNumberTypeStart}}</td>
			</tr>
			<tr>
				<td>TransmitterReceiverPolarisation</td><td>{{timeline.tableData.features[0].properties.transmitterReceiverPolarisation}}</td>
			</tr>
</table>
	