$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    overflow: hidden !important;
}
html {
    padding: 0;
    overflow: hidden !important;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
	position: absolute;
	z-index: 2;
	top: 2%;
	left: 1%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	padding: 0;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
.brand {
    width: 14em;
	margin: 5px;
}


/* Custom page footer */

.footer {
    padding-top: 5px;
    color: #000;
    border-top-right-radius: 5px;
	background-color: rgba(255, 255, 255, 0.4);
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;
    /* Set the fixed height of the footer here */
	/*background-color: #f5f5f5;*/
	z-index: 1;
}
.footer div p {
	margin:0;
}
.container {
	padding-left: 0px;
    padding-right: 0px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .container,
    .footer {
        padding-left: 0 !important;
        margin: 0 !important;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    .navbar {
        margin-bottom: 0px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.mouseposition {
    border-radius: 25px;
    position: absolute;
    right: 8px;
    top: 65px;
    color:#fff;
    font-size: 10px;
    z-index: 1;
}


.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}
.semi-square {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}
.blue    { background-color: #3b8ec2; }
.blue select    { color: #fff; }

/* Overrides */


md-backdrop.md-sidenav-backdrop {
    background-color:transparent
}
md-input-container .md-input {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  display: block;
  margin-top: 0;
  background: none;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 0 0 1px 0;
  line-height: 26px;
  height: 30px;
  -ms-flex-preferred-size: 100%;
  border-radius: 0;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

md-toolbar {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 20px;
    min-height: 55px;
    max-height: 55px;
    width: 100%;
  }

.md-toolbar-tools {
      font-size: 20px;
      letter-spacing: 0.005em;
      box-sizing: border-box;
      font-weight: 400;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      height: 55px;
      max-height: 55px;
      padding: 0 16px;
      margin: 0;
}

.ol-touch .ol-control button {
    font-size: 1.14em;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;;
}

.navbar-nav > li > a {
    cursor: pointer;
}
.navbar-right {
	background-color: #f8f8f8;
	border-radius: 4px;
}

.navbar .container {
	width: 100%;
}

.popover-inner {
    width: 100%;
	padding: 5px;
}

.popover-login{
	line-height: 1;
	font-size: 12px;
}

.login-button {
	height: auto !important;
    padding: 5px !important;
    width: auto !important;
	font-family: inherit;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.form-control {
	font-size: 12px;
    height: 24px;
    line-height: 1.2;
    padding: 2px 12px;
}

.popover {
    width: 450px !important;
    /*max-width: 350px !important;
	height: 350px !important;*/
	/*top: -60px !important;*/
}
/*
.popover.left > .arrow {
	top: 20%;
}*/

.popover-content {
    width: 100%;
    height: 100%;
}

.popover-content .ng-scope > div {
    padding-bottom: 6%;
}

label.option-label{
  font-size: 12px;
  margin-bottom: 0px;
}

.interval-toggle {
  vertical-align: middle;
  width:69px;
  height:14px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}

.interval-toggle:focus{
    outline: none;
}

.noUi-target {
  background: silver;
  height: 5px;
  top: -14px;
  box-shadow: none;
  border: none;
  top: 20px;
}

.noUi-connect {
	background: grey;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  right: -5px;
  top: -3px;
  background: red;
  border: 1px solid red;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
}

.noUi-pips-horizontal{
  height: 10px
}

.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
  height: 0px;
}

.noUi-tooltip {
  font: 700 9px/9px Arial;
  background: none;
  border: none;
}

.noUi-pips{
  font: 400 9px/1.75 Arial;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 7px;
}

#normalizeSwitch{
  float:right;
}

#normalizeSwitch .md-container {
  margin-bottom: 5px;
}

md-switch {
  margin: auto;
}

md-switch:not([disabled]).md-checked .md-bar {
    background-color: #003a57; /* set selected bar color */
}

md-switch:not([disabled]).md-checked .md-thumb {
    background-color: white; /* selected switch color */
    border: 2px solid #003a57;
}

md-switch:not([disabled]).md-checked .md-ink-ripple {
  color: #003a57;
}

md-switch .md-thumb {
    border: 2px solid grey; /* set disabled bar color */
}

md-switch .md-bar{
  transform: scale(0.5);
}

md-switch .md-thumb{
  transform: scale(0.5);
}

md-radio-button{
  outline:none;
}

md-radio-button.md-checked .md-on{
  background-color: #003a57;
}

md-radio-button.md-checked .md-off{
  border-color: #003a57;
}

md-radio-button .md-on {
  background-color: #003a57;
}

/*ol interface*/

.ol-zoomslider {
    left: 0.65em !important;
    top: 8.5em !important;
}
.ol-overlaycontainer-stopevent .ol-zoom{
    height: 3.85em;
    top: 3em !important;
	right: 0.5em !important;
	left: auto !important;

}

.ol-zoom .ol-zoom-out {
    border-radius: 0 0 2px 2px;
    bottom: 3px;
    position: absolute;
}
.ol-zoomslider-thumb {
    margin: 0 0 0 1px !important;
}
.ol-scale-line {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.3);
    border-radius: 4px;
    bottom: 10px !important;
    left: 8px;
    padding: 2px;
    position: fixed !important;
}

.pagination {
	margin:0;
}

.table {
	margin-bottom : 1px;
}
.legenda {
    position: fixed;
    z-index: 1060;
    bottom: 65px;
    left: 8px;
    border-radius: 4px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.4);
	margin: 1px;
}

.switchpanel {
    position: fixed;
    z-index: 1;
    bottom: 40px;
    left: 8px;
    max-width: 440px;
    height: auto;
    min-height: 50px;
    border-radius: 4px;
    padding: 2px;
    background-color: rgba(0, 60, 136, 0.6);
    margin: 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


.updateDate {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 8px;
    width: 269px;
    height: auto;
    min-height: 10px;
    margin: 1px;
}

.updateDateTime{
  border-radius: 4px;
  padding: 2px;
  background-color: rgba(0, 60, 136, 0.6);
  float:right;
  color: #ffffff;
  display: block;
  font-size: 12px;
}


.switchpanelegend{
	margin-left: 7px;
	margin-right: 7px;
}
.switchpaneltop{
	margin: 7px;
	margin-top: 10px;
}

.switchpanelminimizer{
	margin-left : 100%;
}

.switchpanelabel{
	color: #fff;
	display: block;
	font-size: 12px;
}
.switchpanelabelmin{
	color: #fff;
	display: block;
	font-size: 11px;
	margin-left : 7px;
}

.switchpanelabel2{
	color: #fff;
	font-size: 11px;
	margin-left : 7px;
}
.switchpanelabel2big{
	color: #fff;
	font-size: 12px;
}

.keepoff {
    top: -10000px;
    position: absolute;
}

/* timeline chart*/

.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font: 12px sans-serif;
}

.miniItem {
	fill: white;
	fill-opacity: .7;
	stroke-width: 6;
}

.miniItem0 {
	fill: darksalmon;
	stroke-width: 6;
}

.miniItem1 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;
}

.miniItem2 {
	fill: slategray;
	fill-opacity: .7;
	stroke-width: 6;
}

.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 1px!important;
    fill-opacity: 1!important;
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}
.axis line, .axis path {
	stroke: black;
}

.timeline {
	bottom: 40px;
	position: absolute;
	right: 50px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 1);
  width: 700px;
	height: 350px;
  max-width: 80% !important;
  max-height: 70% !important;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	float: right;
	color:#333333;
	margin-top: 20px;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 5px;
	color:#ffffff;
	border-style: solid;
	border-color: #666666;
	background-color: #007FFF;
}
table.gridtable td {
	border-width: 1px;
	padding: 3px;
	color:#333333;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.close:hover {
	color:#ffffff;
  opacity:1;
}


.functionSwitcher {
	z-index:3;
	top : 0.5em;
	right: 4em;
}

.map-control-panel {
	z-index:4;
	top: 7.4em;
	right:.5em;
}
.map-control-panel > div{
	right:0;
}

.layer-switcher {
    position: absolute;
    right: 0.5em;
    text-align: left;
	top: 14.8em !important;
}

.geocoderBar {
    vertical-align:middle;
    border-radius: 4px;
    font-size: 14px;
    height: 35px;
    width:  180px;
    color:  #000000;
}
.searchResult {
    background-color: #ffffff;
    margin-top: 3px;
    position: absolute;
    width: 240px;
}
.searchResult  > div{
	 border-bottom: 1px solid #ccc;
    -moz-user-select: none;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 8px;
    vertical-align: middle;
}
.credits{
	z-index:1;
  background-color: rgba(0, 60, 136, 0.6);
	bottom: 2.5em;
    right: 0.5em;
}
.credits:hover{
  background-color: rgba(0, 60, 136, 0.6);
}
.credits > div{
	float:left;
}

.FullScreenHelp{
    height: 25px;
    position: absolute;
    right: 2.4em;
    top: 0.7em !important;
}

.ZoomControlsHelp {
    height: 50px;
    position: absolute;
    right: 2.4em;
    top: 3.0em !important;
}

.LayerSwitcherHelp {
    height: 25px;
    position: absolute;

    right: 2.3em;
    top: 14.9em !important;
}

.AboutHelp {
    height: 1px;
	width: 25px;
    position: absolute;
    left: 7.5em;
    top: 2.25em !important;
}


.aoi {
	color:white;
	cursor:pointer;
}
.aoi:hover {
	color:white;
	cursor:pointer;
}

.chardinjs-helper-layer {
    z-index: 2;
}
.chardinjs-helper-layer.chardinjs-left {
    border-left: 1px solid white;
    margin-left: -50px;
}

.psTrendsClose {
    margin: 5px;
    position: absolute;
    right: 15px;
    top: 0;
}
.psTrendsChart {
  width: auto;
  height: auto;
  padding-bottom: 20px;
}
.psTrendsOptions {
  width: auto;
  height: auto;
  padding-bottom: 20px
}
.psTrendsTable {
    width: 100%;
    max-height: 200px;
}

.psTrends {
    background-color: white;
    bottom: 70px;
    max-height: 70% !important;
    max-width: 80% !important;
    position: absolute;
    right: 25px;
    width: 700px;
    z-index: 2;
}

// workaround for: https://github.com/krispo/angular-nvd3/issues/604
nvd3 svg {
  height: 305px !important;
}

.nvd3 .nv-brushBackground rect{
  stroke: none;
}

/*
.psTrends {
	 position: fixed;
	 background-color: rgba(255, 255, 255, 1);
	  right: 40px;
	z-index: 2;
	 bottom: 40px;
   width: 700px;
	height: 500px;
  max-width: 80% !important;
  max-height: 80% !important;
}
*/
.featureInfoHeader {
	width: 100%;
	font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.featureInfoTable {
    left: 0;
    max-width: 700px;
}
.featureInfo {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    right: 40px;
    z-index: 2;
    bottom: 40px;
    width: 700px;
    max-width: 80% !important;
    max-height: 65% !important;
  }
.resizable {
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}
.inner {
    background-color: white;
    box-sizing: border-box;
    overflow: auto;
    padding: 0.5em;
    width: 100%;
	  font-size: 11px;
}
.flashMessage {
	position: absolute;
	bottom: -15px;
	right: 40px;
	z-index:2000;
}
.periodButton {
    width: 120px;
    font-size: 12px;
    font-weight: bold;
}

.addBookmarkCell button {
  width: 26px;
  height: 26.5px;
}

.addBookmarkCell button img {
  width: 14px;
}

.triggeredMonitorGroup {
  color: red;
}

.activeMonitorGroup {
  color: limegreen;
}

.pausedMonitorGroup {
  color: #BDBDBD;
}

.alarmPanel {
  position: fixed;
  width: 35%;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activeAlarm {
  color: #4cae4c;
}

.exceededAlarm {
  color: #ff3b30;
}

.pausedAlarm {
  color: #BDBDBD;
}

.invalidInput {
  border-color: #ff3b30!important;
}

.sectionBorder {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  margin-right: 8px;
  border: 1px solid #bdbdbd
}

.mid-height-bookmark {
  max-height: calc(27% - 25px);
  overflow-y: scroll;
}

.swiper {
  position: absolute;
  background-color: rgba(0, 58, 87, 0.5);
  width: 4px;
  height: 100%;
  border-left: 1px solid #848484;
  border-right: 1px solid #848484
}

.swiper-icon {
  position: absolute;
  background-color: rgb(0, 58, 87);
  left: -14px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid #848484;
  cursor: ew-resize;
}

.planet-widget-container {
  position: absolute;
  right: 8px;
  top: 165px;
  background-color: rgba(0, 58, 87, 0.5);
  z-index: 1;
  width: 365px;
  height: 80px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.closed-widget{
  width: 70px;
}

.on-button-widget{
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.time-label-container{
  width: 150px;
  background-color: rgba(0, 60, 136, 0.6);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  margin-left: 8px;
  margin-top: 8px;
}

.time-label-content{
  margin: auto;
  color: white;
}

.planet-date-time-lable-left{
  width: 160px;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 60, 136, 0.6);
  color: white;
  border-radius: 25px;
  top: 68px;
  left: 8px;
  bottom: auto;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: center;
}

.planet-date-time-lable-right{
  width: 160px;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 60, 136, 0.6);
  color: white;
  border-radius: 25px;
  top: 68px;
  right: 8px;
  bottom: auto;
  display: flex;
  flex-direction: row;
  height: 21px;
  justify-content: center;
}


.planet-widget-close-button{
  width: 30px;
  background: rgb(0, 58, 87);
  border-radius: 5px 0 0 5px;
  display: flex;
  cursor: pointer;
}

.planet-widget-dates-bar{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.planet-widget-checkbox{
  margin-bottom: 0px;
}

.collapsed-bar {
  width: 100px;
}

.rotate-arrow-button{
  transform: rotate(180deg);
}

.planet-widget-activate-button {
  border-radius: 5px;
  background-color: #003a57;
  z-index: 1;
  width: 70px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.planet-logo-icon {
  height: 45px;
  width: 45px;
  margin-top: 28%;
  margin-left: 19%;
}

.btn-satellite{

}

.planet-date-picker {
  padding-right: 0px;
  margin-right: 0px;
  width: 38px;
  margin-left: -7px;
}

.planet-date-picker-shown-date{
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  padding-left: 8px;
}

.planet-button-compare-map-switcher {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #003a57;
  position: absolute;
  right: 8px;
  top: 271px;
  border-radius: 50px;
  z-index: 1;
}

.watch-container {
  display: flex;
  flex-direction: row;
}

.watch-controller-container{
  display: flex;
  flex-direction: column;
}

.watch-controller{
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.watch-icon {
  padding-left: 4px;
  padding-right: 4px;
}

.planet-widget-icon  {
  margin-left: 2px;
  margin-right: 2px;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: rgba(255,255,255,0.3);
}

.add-single-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.remove-single-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.md-button.md-icon-button md-icon, button.md-button.md-fab md-icon {
  display: block;
  color: white;
}

.md-datepicker-input{
  display: none;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 36px;
  width: 36px;
  position: absolute;
  padding: 8px;
  display: none;
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: white;
}

.md-datepicker-input-container {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  width: auto;
}
