<div ng-show="alarmsCtrl.showAlarmsPanel" ng-controller="AlarmsCtrl as alarmsCtrl">
	<div layout="column" class="alarmPanel">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span flex></span>
				<h2>{{'alarmsPanelTitle' | translate}}</h2>
				<span flex=""></span>
			</div>
		</md-toolbar>
		<div class="inner" layout-wrap data-position="top" style="padding: 20px; padding-bottom: 0;">
			<div  ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity" style="margin-bottom: 30px;">
				<label for="monitorState"><b>{{ 'currentAlarmStatus' |  translate }}</b></label>
				<div id="monitorState">
					<button style="background: transparent; border: none; margin-right: 8px;"
							ng-class="{
							'activeAlarm': alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'active',
                    		'exceededAlarm': alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'triggered'
                    		}">
						<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
					</button>
					<span ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'active'">{{ 'activeAlarmStatus' | translate }}</span>
					<span ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'triggered'">{{ 'exceededAlarmStatus' | translate }}</span>
					<span ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'pause'">{{ 'pausedAlarmStatus' | translate }}</span>
				</div>
				<div ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'triggered'"
					 style="padding: 10px; background-color: #ff3b30; color: white; margin-top: 15px;">
					{{alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_message}}
				</div>
			</div>
			<div>
				<div>
					<div>
						<label for="threshold-value">
							<b>{{ 'absoluteValueThreshold' | translate }}</b>
							<button style="background: transparent; border: none;">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							</button>
						</label>
						<input id="threshold-value"
							   maxlength = "100"
							   type="text"
							   ng-model="alarmsCtrl.threshold"
							   ng-class="{invalidInput: !alarmsCtrl.isThresholdValid}"
							   style="display: block"
							   md-auto-focus="true"/>
					</div>
					<div style="margin-top: 15px;">
						<label for="persistence-value">
							<b>{{ 'persistenceValue' | translate }}</b>
							<button style="background: transparent; border: none;">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							</button>
						</label>
						<div>
							<input id="persistence-value"
								   type="number"
								   ng-model="alarmsCtrl.persistence"
								   ng-value="alarmsCtrl.persistence"
								   min="{{alarmsCtrl.minPersistence}}"
								   max="{{alarmsCtrl.maxPersistence}}"/>
							<span style="padding: 10px">( Min. {{alarmsCtrl.minPersistence}}, Max. {{alarmsCtrl.maxPersistence}} )</span>
						</div>
					</div>
					<div style="margin-top: 15px">
						<label for="interval-value">
							<b>{{ 'observableInterval' | translate }} ({{ 'monthsLabel' | translate }})</b>
							<button style="background: transparent; border: none;">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							</button>
						</label>
						<div>
							<input id="interval-value"
								   type="number"
								   ng-value="alarmsCtrl.interval"
								   ng-model="alarmsCtrl.interval"
								   min="{{alarmsCtrl.minMonths}}"
								   max="{{alarmsCtrl.maxMonths}}"/>
							<span style="padding: 10px">
								( Min. {{alarmsCtrl.minMonths}}, Max. {{alarmsCtrl.maxMonths}} )
							</span>
						</div>
					</div>
				</div>
				<div style="margin-top: 30px">
					<md-button class="md-accent md-primary"
							   ng-click="alarmsCtrl.closeAlarmsPanel()"
							   style="float: right">{{ 'cancelButton' | translate }}</md-button>
					<md-button ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity"
							   ng-click="alarmsCtrl.deleteMonitor()"
							   class="md-accent md-primary" style="float: right">{{ 'deleteLabel' | translate }}</md-button>
					<md-button ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'triggered'||
									  alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'active'"
							   ng-click="alarmsCtrl.changeState('pause')"
							   class="md-accent md-primary" style="float: right" >{{ 'pauseLabel' | translate }}</md-button>
					<md-button ng-if="alarmsCtrl.currBookmarkScatterer.m_monitor_entity.m_state === 'pause'"
							   ng-click="alarmsCtrl.changeState('active')"
							   class="md-accent md-primary" style="float: right">{{ 'activateLabel' | translate }}</md-button>
					<md-button class="md-accent md-primary" style="float: right"
							   ng-click="alarmsCtrl.saveMonitor()">{{ 'saveButton' | translate }}</md-button>
				</div>
			</div>
		</div>
	</div>
</div>
