<div class="featureInfo" ng-show="features.show_features" ng-controller="FeatureInfoCtrl as features" >
				<!--NAME LAYER -->
				<md-toolbar>
			    <div class="md-toolbar-tools">
						<span flex></span>
			      <h2>{{ 'titleLandslide' | translate }}</h2>
						<span flex=""></span>
						<a class="close" ng-click="features.showFeatures(false);">&times;</a>
			    </div>
			  </md-toolbar>
				<!--div class="featureInfoHeader">
					{{features.overlayName}}
					<a class="close" ng-click="features.showFeatures(false);">&times;</a>
				</div-->
				<div id="content" style="max-height:160px !important;overflow:auto !important">
					<div style="width:100% !important;overflow:auto;"ng-repeat="feature in features.featureDetails">
						<div class="featureInfoTable">
							<table style="width:100% !important;"st-table="feature.records" class="table table-striped table-condensed" >

								<!--COLUMN NAME -->
								<thead >
									<h4 style="margin-left:10px;">{{feature.layer}}</h4>
									<tr align="center">
										<td ng-repeat="name in feature.attributes"><b style="font-size: 12px;">{{name}}</b></th>
									</tr>
								</thead>
								<!--ROW VALUE -->
								<tbody>
										<tr align="center" ng-repeat="row in feature.records ">
											<td style="font-size: 10px;" ng-repeat="column in row">{{column}}</td>
										</tr>
								</tbody>
						</table>
					 </div>
					</div>
			 </div>
</div>
